.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    height: 450px;
    justify-content: space-between;
}
.left__hero{
    margin-left: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.right_her{
    padding: auto;
}
.hero__image{
    width: 600px;
}

h1{
    font-weight: 700;
    color: rgb(255, 155, 5);
}
p{
    font-weight: 400;
    color: rgb(77, 72, 73);
}